<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bio_About_Url</key>
	<string>http://sarahmarquis.ch/explorer/</string>
	<key>Bio_AppType</key>
	<string>custom</string>
	<key>Bio_Contact_Url</key>
	<string>https://sarah-marquis.squarespace.com/contact/</string>
	<key>Bio_Home_BK_Big</key>
	<string>edge_of_the_world_home_bk.jpg</string>
	<key>Bio_Home_BK_Small</key>
	<string>edge_of_the_world_home_bk_small</string>
	<key>Bio_Home_Login_Image_Logo</key>
	<string>edge_of_the_world_home_login</string>
	<key>Bio_Home_Login_Image_iPad</key>
	<string>edge_home_login_iPad.jpg</string>
	<key>Bio_Home_Login_Image_iPhone</key>
	<string>edge_home_login_iPhone.jpg</string>
	<key>Bio_Project_Activity_ID</key>
	<string>e13a5e26-707f-42f8-a1d8-5b301ee59d2d</string>
	<key>Bio_Project_ID</key>
	<string>260c8864-11a9-4c5e-8fcc-7bc6acd6a8e5</string>
	<key>Bio_Project_Name</key>
	<string>The Edge of the World</string>
	<key>Bio_HubName</key>
	<string></string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Edge of the World</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>02</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>App uses camera to capture species photo.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your current location is required to determine species coordinates.</string>
	<key>NSLocationUsageDescription</key>
	<string>Your current location is required to determine species coordinates.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your current location is required to determine species coordinates.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) uses camera to capture species photo.</string>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Default-568</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 568}</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden~ipad</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
